#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swipper1{
    position: relative;
  }
  .inseide1{
    position: absolute;
    left: 2%;
    top: 20%;
    z-index: 156;
    transform: translate(50%,50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .inside1__left{
        width: 50px;
        height: 120px;
        border: 1px solid white;
    }
    .inside1__right{
        h1{
            font-size: 60px;
        }
        p{
            margin-left: 400px;
            margin-bottom: 50px;
        }
    }
  }